 <h2 class="heading">My Projects</h2>
    {{#each projects}}
    <div class="project">
    <p><strong>Title: {{title}}</strong></p><br>
    <p><span style="font-weight:600">Description:</span>  {{description}}</p><br>
    <p><span style="font-weight:600">Languages:</span> {{languages}}</p><br>
    </div>
    {{/each}}
